#LocationCreator {
    padding: 4rem 0rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
        margin: .5rem 0rem;
        padding: .5rem;
        &:focus {
            outline: none;
        }
    }
}