$main-black: rgb(15, 15, 15);

#Location {
    min-height: 100vh;
    width: 100%;

    header {
        padding-bottom: 3rem;
        h1 {
            font-size: 1.75rem;
        }
        #StarsSVG {
            z-index: -10;
            position: absolute;
            top: 0;
            left: 0;
        }
        #BusStop {
            width: 90%;
            img { 
                width: 100%;
                max-width: 600px;
            }
        }
    }
}